{% extends 'blog/base.html' %}
{% block content %}
<h2 class='mb-3'>About Databasing Devils</h2>
<div>
  <div class="venue-type hotel" style="height:480px;"><img src='../media/ankan.jpeg' height=440><h3 align='center'>Ankan Sarkar</h3></div>
  <div class="venue-type restro" style="height:480px;"><img src='../media/bhuva.jpeg' height=440><h3 align='center'>Siddharth Bhuva</h3></div>
  <div class="venue-type theatre" style="height:480px;"><img src='../media/tatawat.jpeg' height=440><h3 align='center'>Shriyank Tatawat</h3></div>
</div>
<br><br>
{% endblock content %}