{% extends 'blog/base.html' %}
{% block content %}
<h2 class='mb-3'>Filter based on type of Venue</h2>
<div>
  <a class = 'btn btn-outline-secondary' href='{% url 'venue-type' 'hotel' %}'>Hotels<a>
  <a class = 'btn btn-outline-secondary' href='{% url 'venue-type' 'restaurant' %}'>Restaurants<a>
  <a class = 'btn btn-outline-secondary' href='{% url 'venue-type' 'theatre' %}'>Theatres</a>
</div>
<h2 class='mb-3'>To search through Venue name <a href = '{% url 'venue-filter' %}'>click here</a></h2>
<h2 class='mb-3'>Recent Reviews</h2>
{% for post in posts %}
{% if forloop.counter <= 5 %}
<article class="media content-section">
  <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}'>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <div>
      Rated <a href="{% url 'venue-posts' post.venue|pre_trim %}">{{ post.venue|trim }}</a>
      {% for i in post.rating|get_range %}
      <span class="fa fa-star checked"></span>
      {% endfor %}
      {% for i in post.rating|get_range1 %}
      <span class="fa fa-star"></span>
      {% endfor %}
    </div>
    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
    <p class="article-content">{{ post.content|truncatechars:50 }}</p>
  </div>
</article>
{% endif %}
{% endfor %}
{% endblock content %}