{% extends 'blog/base.html' %}
{% block content %}
<h2 class='mb-3'>Filter based on type of Venue or <a href='{% url 'venue-filter' %}'>Search through Venue name</a></h2>
<div>
  <a href='{% url 'venue-type' 'hotel' %}'>
    <div class="venue-type"><img src="/media/hotel_icon.png" /></div>
    <a>
      <a href='{% url 'venue-type' 'restaurant' %}'>
        <div class="venue-type"><img src="/media/restaurant_icon.png" /></div>
        <a>
          <a href='{% url 'venue-type' 'theatre' %}'>
            <div class="venue-type"><img src="/media/theatre_icon.png" /></div>
          </a>
</div>
<h2 class='mb-3'> Site Statistics</h2>
<div class="statistics">
  <img src="/media/stats.jpg" style="float: right;"/>
  <div class="stat-text">
  Total Reviews - {{ posts|length }} <br> Total Venues - 52 <br> Total Reviewers - {{ posts|get_user_length }}
  </div>
</div>
<h2 class='mb-3'>Recent Reviews</h2>
{% for post in posts %}
{% if forloop.counter <= 5 %} <article class="media content-section post-card">
  <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}'>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <div>
      Rated <a href="{% url 'venue-posts' post.venue|pre_trim %}">{{ post.venue|trim }}</a><br>
      {% for i in post.rating|get_range %}
      {% if post.rating == 5 %}
      <span class="fa fa-star checked" style='color:green;'></span>
      {% elif post.rating == 4 %}
      <span class="fa fa-star checked" style='color:lightgreen;'></span>
      {% elif post.rating == 3 %}
      <span class="fa fa-star checked" style='color:yellow;'></span>
      {% elif post.rating == 2 %}
      <span class="fa fa-star checked" style='color:orange;'></span>
      {% elif post.rating == 1 %}
      <span class="fa fa-star checked" style='color:red;'></span>
      {% endif %}
      {% endfor %}
      {% for i in post.rating|get_range1 %}
      <span class="fa fa-star unchecked"></span>
      {% endfor %}
    </div>
    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
    <p class="article-content">{{ post.content|truncatechars:50 }}</p>
  </div>
  </article>
  {% endif %}
  {% endfor %}
  {% endblock content %}