{% extends 'blog/base.html' %}
{% block content %}
    <h2 class='mb-3'>Sorting Options</h2>
    {% if not view.kwargs.type %}
    <div>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-home-sort' 'rating' %}'>Average Rating<a>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-home-sort' 'total' %}'>Popularity<a>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-home-sort' 'title' %}'>Alphabetical(Name)</a>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-home-sort' 'location' %}'>Alphabetical(Location)</a>
    </div>
    <h2 class='mb-3'>List of Venues</h2>
    {% else %}
    <div>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-type-sort' view.kwargs.type 'rating' %}'>Average Rating<a>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-type-sort' view.kwargs.type 'total' %}'>Popularity<a>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-type-sort' view.kwargs.type 'title' %}'>Alphabetical(Name)</a>
      <a class = 'btn btn-outline-secondary' href='{% url 'venue-type-sort' view.kwargs.type 'location' %}'>Alphabetical(Location)</a>
    </div>
    <h2 class='mb-3'>List of {{view.kwargs.type|title}}s</h2>
    {% endif %}
    {% for venue in venues %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'venue-posts' venue.id %}">{{ venue.title }}, {{ venue.location }}</a>
          </div>
          <div>
            {% if venue.rating == 0.00 %}
            Not reviewed yet
            {% else %}
            Average rating {{ venue.rating }} out of 5
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
    <div align='center'>
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class='btn btn-outline-info mb-4' href='?page=1'>First</a>
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.previous_page_number }}'>Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class='btn btn-info mb-4' href='?page={{ num }}'>{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class='btn btn-outline-info mb-4' href='?page={{ num }}'>{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.next_page_number }}'>Next</a>
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.paginator.num_pages }}'>Last</a>
        {% endif %}
      {% endif %}
    </div>
{% endblock content %}