{% extends 'blog/base.html' %}
{% block content %}
    {% if posts|length == 0 %}
    <h2 class='mb-3'>No Posts Available</h2>
    {% endif %}
    {% for post in posts %}
    {% if forloop.counter == 1 %}
        <h2 class='mb-3'>Posts for {{ post.venue|trim }} ({{ page_obj.paginator.count }} reviews)</h2>
    {% endif %}
    <article class="media content-section">
        <img class='rounded-circle article-img' src='{{ post.author.profile.image.url }}'>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <div>
            Rated <a href="{% url 'venue-posts' view.kwargs.id %}">{{ post.venue|trim }}</a><br>
            {% for i in post.rating|get_range %}
            {% if post.rating == 5 %}
            <span class="fa fa-star checked" style='color:green;'></span>
            {% elif post.rating == 4 %}
            <span class="fa fa-star checked" style='color:lightgreen;'></span>
            {% elif post.rating == 3 %}
            <span class="fa fa-star checked" style='color:yellow;'></span>
            {% elif post.rating == 2 %}
            <span class="fa fa-star checked" style='color:orange;'></span>
            {% elif post.rating == 1 %}
            <span class="fa fa-star checked" style='color:red;'></span>
            {% endif %}
            {% endfor %}
            {% for i in post.rating|get_range1 %}
            <span class="fa fa-star unchecked"></span>
            {% endfor %}
          </div>
          <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    <h2 class='mb-3'>Want to add more Reviews?</h2>
    {% if posts|length != 0 %}
    <a class = 'btn btn-outline-secondary' href='{% url 'post-create' %}'>Yes</a><br><br>
    {% else %}
    <a class = 'btn btn-outline-secondary' href='{% url 'post-create' %}' style='margin-bottom:200px;'>Yes</a><br><br>
    {% endif %}
    <div align='center'>
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class='btn btn-outline-info mb-4' href='?page=1'>First</a>
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.previous_page_number }}'>Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class='btn btn-info mb-4' href='?page={{ num }}'>{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class='btn btn-outline-info mb-4' href='?page={{ num }}'>{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.next_page_number }}'>Next</a>
          <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.paginator.num_pages }}'>Last</a>
        {% endif %}
      {% endif %}
    </div>
{% endblock content %}